<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
 <!-- <fatec-logo></fatec-logo>

  <div class="container">
    <table class="table table-hover table-striped" *ngFor="let c of cursos">
      <p>Curso: {{c.nome}}</p>
    </table>
    </div>

  <div>
    <app-curso-adiciona [ngStyle]="{'color': '#28A745', 'font-size':'28px', 'font-weight':'bold'}"
    (adicionarCurso)="onAdicionarCurso($event)"></app-curso-adiciona>
  </div>

  <button class="btn btn-success btn-block"> <a href="./alunos.component.html"></a></button>  -->
  <alunos>ads</alunos>
</body>
</html>
